boto3==1.9.106
botocore==1.12.106
Django==2.2.24
django-sesame==1.4
django-storages==1.7
docutils==0.14
jmespath==0.9.3
myks-gallery==0.7
Pillow==5.2.0
psycopg2==2.7.5
python-dateutil==2.7.3
pytz==2018.5
s3transfer==0.2.0
six==1.11.0
urllib3==1.24.2
whitenoise==4.0
gunicorn==19.7.1
django-split-settings==0.3.0
django-cors-headers==2.4.1



