form > .row {
    margin: auto;
}

form .btn {
    width: 150px;
}

form .btn-primary {
    background-color: #2E507A;
}

form .btn-primary:hover {
    background-color: #0a3c7a;
}

form .submit-row {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.form-wrapper {
    border: 1px solid rgba(0, 0, 0, .125);
    margin: 50px auto auto;
}

.form-group {
    padding: 15px;
    margin-bottom: 0;
}

.control-label {
    font-weight: bolder;
}

.row label {
    padding-left: 0;
}

.form-group input,
.form-group select,
.form-group textarea {
    margin-left: 0;
    margin-right: 0;
}

.form-group textarea {
    height: 150px;
}

.form-group .widget-col {
    padding-left: 0;
}

.form-group .errorlist {
    color: red;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 0;
    background-color: white;
    border: none;
    padding-left: 0;
    padding-top: 5px;
}

.form-group .errorlist > li {
    list-style-type: None
}

@media all and (max-width: 500px) {

    .form-wrapper {
        border: none;
        margin: auto;
    }
}