.nav-user {
    color: white;
    display: flex !important;
    align-items: center;
    margin-right: 1rem;
}

.nav-user > p {
    margin: 0;
    padding-left: 0.5rem;
}

.navbar-search {
    margin-left: 10px;
    border-left: 1px solid white;
    color: white;
}

.navbar-link {
    color: white;
    text-decoration: none;
}

.navbar-link:hover
{
    text-decoration: none;
    color: grey;
}

@media only screen and (max-width: 500px) {
     .hidden-xs {
        display: none;
    }

    .visible-xs {
        display: flex;
    }

    .visible-xs > a {
        width: 100%;
        margin: 0.75rem;
    }
}

@media only screen and (min-width: 500px) {
      .hidden-xs {
        display: flex;
    }

    .visible-xs {
        display: none;
    }
}