{% extends 'base.html' %}
{% load static from staticfiles %}

{% block extrahead %}
    <link href="{% static "photo_gallery/css/upload/fileui.css" %}" rel="stylesheet">
{% endblock %}
{% block content %}
    {% include 'navbar.html' %}
    <div class="row">
        <form class="col col-lg-3 fileui-form">
            <div id="mainForm">
                {% csrf_token %}
                <div class="button-container">
                    <span class="btn btn-success fileinput-button">
                        <span>Add files...</span>
                        <input type="file" name="files[]" multiple>
                    </span>
                    <button class="btn btn-primary" id="submitButton">Upload</button>
                    <button class="btn btn-danger" id="abortButton">Stop</button>
                </div>
                <div class="file-list-container"></div>
            </div>
        </form>
    </div>


    <script src="{% static "jquery/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "jquery/jquery-ui.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap.js" %}"></script>
    <script src="{% static 'photo_gallery/js/file-entry-skin.js' %}"></script>
    <script src="{% static 'photo_gallery/js/file-entry-ui.js' %}"></script>
    <script src="{% static 'photo_gallery/js/mainForm.js' %}"></script>
    <script src="{% static 'photo_gallery/js/main.js' %}"></script>

{% endblock %}