body {
    font-family: 'Open Sans', sans-serif;
}

#image-gallery .modal-footer{
  display: block;
}

.thumb {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.album_title
{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.photo_nav {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.photo_nav .fas {
    font-weight: bold;
    font-size: 1.3rem;
    color: black;
}

/*
    Hide form in navbar
 */

.navbar form {
    display: none;
}

.action-btn {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.thumbnail {
        margin: 1px;
    }

@media only screen and (max-width: 575px){
    img {
        width: 128px;
        height: 128px;
    }
}

