body {
    font-family: 'Open Sans', sans-serif;
    min-height: 75rem;
}

nav {
    background-color: #1c2331!important;
}

.navbar {
    margin-bottom: 0;
}

.jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin-bottom: 0;
    background-color: #fff;
}

.jumbotron-heading {
    font-weight: 600;
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron .container {
    max-width: 40rem;
}

.album {
    min-height: 50rem;

    /* Can be removed; just added for demo purposes */
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #e3dddd;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #343a40!important;
}

footer p {
    margin-bottom: .25rem;
}

footer > .container {
    display: flex;
    justify-content: center;
    color: rgba(255,255,255,.6);
}