.album_title {
    display: flex;
    justify-content: center;
}

.card-text {
    text-align: center;
    margin-top: 5px;
}

.album {
    margin-top: 1.5rem;
}

.photo_nav {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.photo_nav .fas {
    font-weight: bold;
    font-size: 1.3rem;
    color: black;
}

/*
    Hide form in navbar
 */

.navbar form {
    display: none;
}