.up {
    font-size: 1.3rem;
    color: rgba(97, 97, 97, 1);;
}

.up:hover {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

/*
    Mobile
*/

@media only screen and (max-width: 500px) {

    .row {
        margin: auto;
        display: flex;
        justify-content: center;
    }

    .album_year_container {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
        margin-top: 2rem;
    }

    .album_year_container > a {
        text-decoration: none;
    }

    .album_year_container > a:hover {
        color: black;
    }

    .album_year_container:first-child {
        margin-top: 0;
    }

    .album_year {
        font-size: 1.5em;
        font-weight: bold;
        color: rgba(97, 97, 97, 1);
        text-decoration: none;
    }

    .album_year:first-child {
        margin-top: 0;
    }

    .navbar-logout {
        color: white;
    }
}

/*
    DESKTOP
 */
@media only screen and (min-width: 500px) {

    .album_year_container {
        display: flex;
        justify-content: left;
        margin-top: 1.5rem;
    }

    .album_year_container > a {
        text-decoration: none;
    }

    .album_year_container > a:hover {
        color: black;
    }

    .album_year {
        font-size: 1.5em;
        font-weight: bold;
        color: rgba(97, 97, 97, 1);
        margin-bottom: 10px;
        text-decoration: none;
    }

    .row {
        display: flex;
        justify-content: left;
    }
}


