.photo_title
{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.photo_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.photo_nav .fas {
    font-weight: bold;
    font-size: 1.3rem;
    color: black;
}

.photo_detail {
    display: flex;
    justify-content: center;
}

/*
    Hide form in navbar
 */

.navbar form {
    display: none;
}