.fileui-form {
    margin: 20px auto auto;
}
.file-ui {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.fileinput-button input
{
    position: absolute;
    top: 2%;
    left: 11%;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    direction: ltr;
    cursor: pointer;
    width: 100px;
}
.button-container {
    display: flex;
    justify-content: center;
}

.button-container > .btn {
    width: 100px;
    margin-left: 10px;
    margin-right: 5px;
}

.file-ui .progress {
    padding-left: 0;
    padding-right: 0;
}

.file-ui .file-label {
    padding-left: 5px;
    padding-right: 5px;
}

.ui-upload-button {
    margin-left: 5px;
    margin-right: 5px;
    padding: 0.1rem 0.3rem;
    font-size: 0.9rem;
}

.col .progress {
    padding: 0;
}

.container {
    margin: auto;
}

.hide {
    display: none;
}
