{% extends 'registration/base.html' %}

{% load static %}
<title>Set up password</title>
{% block content %}
    <div class="row d-flex justify-content-center align-items-center">
        <form role="form" class="ml-2 mr-2 col-lg-5" action="{% url "accounts" %}" method="post">
            {% csrf_token %}

            <input type="hidden" name="activation_id" value="{{ activation_id }}">
            <h3 class="text-lg-center text-center">Set your password</h3>
            <h6 class="text-lg-center text-center">Create your password and log into your account</h6>
            <hr id="line" />
            <div class="form-group">Password&nbsp;
                <br>
                <input class="form-control" name="password" id="password_input" placeholder="Password" type="password" data-minlength="8" required>
                <div class="help-block">Minimum 8 characters</div>
            </div>
            <div class="form-group">Confirm password&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <br>
                <input class="form-control" id="confirm_password" placeholder="Retype password" type="password" required data-match-error="Whoops, these don't match">
                <div class="invalid-feedback">
                    Whoops..Password doesn't match
                </div>
            </div>
            <div class="col d-lg-flex d-flex align-items-center justify-content-center" style="padding-left: 0;
padding-right: 0;">
                <button id="submitButton" type="submit" class="btn btn-primary btn-block" disabled="disabled">Set password and log in</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block script_link %}
    <script src="{% static 'authentication/js/validation.js' %}"></script>
{% endblock %}
</html>
