{% extends 'authentication/base.html' %}
{% load static %}

{% block content %}
    {% if validlink %}
        <div class="row d-flex justify-content-center align-items-center">
            <form class="ml-2 mr-2 col-lg-5" method="post">
                {% csrf_token %}

                <input type="hidden" name="activation_id" value="{{ activation_id }}">
                <h3 class="text-lg-center text-center">Set your password</h3>
                <hr id="line" />
                <div class="form-group">Password&nbsp;
                    <br>
                    <input class="form-control" name="new_password1" id="password_input" placeholder="Password" type="password" data-minlength="8" required>
                    <div class="help-block">Minimum 8 characters</div>
                </div>
                <div class="form-group">Confirm password&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    <br>
                    <input class="form-control" name="new_password2" id="confirm_password" placeholder="Retype password" type="password" required data-match-error="Whoops, these don't match">
                    <div class="invalid-feedback">
                        Whoops..Password doesn't match
                    </div>
                </div>
                <div class="col d-lg-flex d-flex align-items-center justify-content-center" style="padding-left: 0;
        padding-right: 0;">
                    <button id="submitButton" type="submit" class="btn btn-primary btn-block" disabled="disabled">Change password</button>
                </div>
            </form>
        </div>
    {% else %}
        <p>
          The password reset link was invalid, possibly because it has already been used.
          Please request a new password reset.
        </p>
    {% endif %}
{% endblock %}

{% block script_link %}
    <script src="{% static 'authentication/js/validation.js' %}"></script>
{% endblock %}