{% load i18n %}
{% load static from staticfiles %}
<!DOCTYPE html>
<html xmlns:https="http://www.w3.org/1999/xhtml">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href="{% static "authentication/css/navbar.css" %}" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static  "photo_gallery/css/navbar.css"%}">
        <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.css" %}">
        <link href="{% static 'photo_gallery/css/base.css' %}" rel="stylesheet">
        <title>{% block title %}{% endblock %}</title>
        {% block extrahead %}{% endblock %}
    </head>
<body>
    {% block navbar %}
        {% include 'navbar.html' %}
    {% endblock %}
    <div class="content">
        {% block content %}{% endblock %}
    </div>
{#    <footer>#}
{#        <div class="container">#}
{#            <p>© 2018 Copyright Cosmin Tupangiu</p>#}
{#            <p></p>#}
{#        </div>#}
{#    </footer>#}
</body>
{#    <script src="{% static "jquery/jquery-3.3.1.min.js" %}"></script>#}
{#    <script src="{% static "bootstrap/js/bootstrap.js" %}"></script>#}
</html>